[2019-12-17 03:56] cschol opened #1 "Compile failure on Mac platform"
Compile failure on Mac platform:

[code]

You are missing an explicit

[code]

at the top of the file. This is required for Mac platform only.

[2019-12-26 08:57] #1 closed, assigned to AriaSalvatrice

[2020-01-13 10:10] pgatt opened #3 "Builds correctly on Mac here"
Hi just letting you know I was able to build your plugins on Mac as you said you weren't able to test it.

[2020-01-13 11:29] AriaSalvatrice commented on #3
Thank you!

[2020-01-13 11:29] #3 closed, assigned to nobody

[2020-01-18 09:22] AriaSalvatrice opened #5 "HTML Documentation"
If the collection continues to grow, a github page won't cut it for documentation. I want to make something nicer, using the templates currently in use on <https://aria.dog>, which uses a homegrown static site generator, but could be adapted to github pages.

[2020-01-18 09:29] AriaSalvatrice opened #6 "Review and improve the code of the earliest modules"
These modules are in part a learning project for me. It's my very first C++ project, and I barely have a clue what I'm doing. A lot of things are implemented the hard way, with a lot of duplication.

Bad code that gets the job done today is better than beautiful code I will "release one day".
But I'd prefer to have clean code that gets the job done. If you have suggestions how and why to improve a

[2020-01-20 10:03] AriaSalvatrice opened #7 "Add voltage range selection to Darius"
Requested a few times. Can be added without increasing the complexity of the module for users, but should probably be hidden behind the right click menu.

[2020-01-20 10:31] AriaSalvatrice opened #8 "Make a successor to Darius: how should it work and what should it do?"
Here's a place to dump idle thoughts about how to evolve the Darius sequencer. No promises I'll ever do it.

My thoughts:

- Darius was made on a whim and should remain exactly as-is, save for voltage range selection. It's meant to inspire and challenge you to work within its limited but easily understood framework.
- None of the requested features are impossible to achieve right now. It takes a b

[2020-01-20 11:16] AriaSalvatrice opened #9 "Add automatic builds"
I don't have easy constant access to a mac currently. I need to know when things break on other platforms, and make it easier for people to test things by providing development binaries.

It seems that people had success with both Azure and Travis-CI.

[2020-01-20 21:34] flydoggy commented on #8
Jacks to route triggers to the Randomize CVs and Randomize Routes.  A jack to send CV to select the number of steps.

[2020-01-21 13:32] AriaSalvatrice opened #10 "Features to add to Darius without compromising the simple design"
See #8 for plans to possibly make a more featured device.

- Voltage range selection
- Accept polyphonic triggers

[2020-01-21 18:19] AriaSalvatrice commented on #9
I am not sure yet it works well, or is even set up correctly, but it works enough to provide Mac and Linux builds for testers.

[2020-01-21 18:19] #9 closed, assigned to AriaSalvatrice

[2020-01-22 17:20] Miserlou commented on #10
I'm curious what it would sound like if it could run backwards.

[2020-01-22 18:58] Chaircrusher commented on #10
The first thing I did was place an attenuator on the CV -- this does (in effect) what the 'range' on JW Modules Gridseq does -- attenuates the voltage before the quantizer.

You only need two knobs to handle all the pitch range issues -- offset and scale. The CV value:
Vout = Offset + (Scale * Vin)
Bonus points -- make them CV Controllable, (with attenuation, naturally)

That means you're tracing

[2020-01-22 20:11] AriaSalvatrice commented on #10
Please see issue #8 for a possible expanded successor that would add some amount of complexity - I don't want to make the existing module any more complex to use than it is now.

[2020-01-24 16:08] emmahasapetgiraffe commented on #8
i would love to see more playback options. for example not just going forward but going back too, as in reversed order from how its behaving now. right now it goes wider in possibilities from start to the end of the sequence, reversed it would narrow down to 1 note/cv value.
more on playback would be 'play once' meaning play the sequence once on reset.

[2020-01-25 16:07] AriaSalvatrice opened #13 "Pipelines deprecating macOS-10.13 in March"
Because OS X 10.13 is a whole TWO YEARS OLD, and Microsoft is a small startup lacking the resources to support legacy products, they are removing support for OS X 10.13 a whole three damn days after I rigged up Pipelines.

After the next release, try replacing the "13" with a "14" and see what happens.

[2020-01-25 16:24] AriaSalvatrice commented on #10
After thinking about it, the following will be added to Darius, and nothing else to keep it a beginner-friendly device:

- Unipolar/Bipolar rocker switch
- Step back input
- Accept triggers on any polyphonic channel

See #8 for a possible kitchen sink version.

[2020-01-25 16:25] AriaSalvatrice opened #14 "Randomize knobs on Darius do not get stored in Undo history"
Haven't looked into how to implement it yet

[2020-01-25 18:46] AriaSalvatrice opened #15 "Azure azure-win-dist breaks"
Look into the Azure file I adapted to see what that make target entails and whether it's safe to swap it to dist on windows.

[2020-01-26 22:05] AriaSalvatrice commented on #13
Bumping the version number worked, so I'm assuming everything's fine.

[2020-01-26 22:05] #13 closed, assigned to AriaSalvatrice

[2020-01-26 22:06] AriaSalvatrice commented on #15
[code]

[2020-01-26 22:07] AriaSalvatrice commented on #14
https://community.vcvrack.com/t/custom-history-actions-for-modules/2575

[2020-01-27 08:24] Stubs42 opened #16 "Ext. Rnd for Darius Feature Request"
Hi,
I like Darius very much but also love to have the ability to repeat the same semi random sequence multiple times. So I would propose to add an external random cv input to be used in up/down decisions. Added a Screenshot implementing it using cv mapping. In this solution probabilities for up and down have to controlled using Seeds of Change. Would be much easier with an ext. rnd input.
The rand

[2020-01-27 10:21] AriaSalvatrice commented on #15
It works again but I do not understand what broke and what fixed it. Problem might reoccur.

[2020-01-27 10:21] #15 closed, assigned to AriaSalvatrice

[2020-01-27 10:24] AriaSalvatrice commented on #16
Duplicate of #8 - moving conversation there

[2020-01-27 10:24] #16 closed, assigned to nobody

[2020-01-27 10:25] AriaSalvatrice commented on #8
Request for an external random seed in issue linked above.

[2020-01-27 20:29] AriaSalvatrice opened #18 "Arcane Beta crashes on load in Linux"
https://community.vcvrack.com/t/aria-salvatrice-signature-series-1-3-0-beta-arcane-atout-aleister-todays-fortune/7734/60?u=aria_salvatrice

No detailed info and no reports from OS X yet

[2020-01-28 02:21] AriaSalvatrice commented on #18
Reproduced on a Ubuntu Studio VM. Any of the Arcane modules will crash.

Modules look normal in the browser.

Issue likely around readTodaysFortune()

[code]

[2020-01-28 17:38] #18 closed, assigned to AriaSalvatrice

[2020-01-28 19:23] AriaSalvatrice commented on #10
Considering #16 too, despite increasing complexity, it addresses multiple drawbacks of the current implementation.

[2020-01-28 23:37] AriaSalvatrice opened #19 "Improve the Arcane server selection of scales"
I'm waiting until Arcane hits the library and people start to understand it before I draw attention to this, but currently, the server has a very conservative selection of music scales.

I'll just copy what I say in the source:

[code]

Here's the relevant part of the script. You don't have to know the language to understand what it does. https://github.com/AriaSalvatrice/Arcane/blob/f698b7f064bc5

[2020-01-29 05:33] AriaSalvatrice commented on #14
Pushing back that one for later. Anyone knows of open-source modules that implemented this so I can see what they did?

[2020-01-29 10:36] AriaSalvatrice commented on #10
Added to Darius:
- All trigger inputs now accept polyphonic input. Existing patches are very unlikely to be broken by this new feature. If they are, they can be fixed by splitting any polyphonic trigger input then sending only the first channel.
- Added a "RND" seed CV input, and a switch to decide to refresh it on "1st/all" step(s), to force a specific random seed to be used.
- Added a CV range s

[2020-01-29 10:36] #10 closed, assigned to AriaSalvatrice

[2020-01-29 10:38] AriaSalvatrice commented on #8
Per #10 , given the recent features added to it, I'm putting the idea of making a successor on standby. Feel free to still comment, plus another developer might want to pick up the idea.

[2020-01-29 10:38] #8 closed, assigned to nobody

[2020-01-29 10:41] AriaSalvatrice commented on #16
It actually entailed rewriting half the code, to be precise.

Try out the beta! There's a seed input and directional controls.

https://community.vcvrack.com/t/aria-salvatrice-signature-series-1-3-0-beta-2-arcane-atout-aleister-todays-fortune/7734/78

[2020-01-29 12:03] AriaSalvatrice opened #20 "Arcane: Initialize when new fortune up doesn't work"
- Doesn't change the date on the LCD
- Doesn't refresh the fortune (regression)

[2020-01-29 17:50] AriaSalvatrice opened #21 "Darius: desync ending a sequence with up or down."
Via private conversation.

[2020-01-29 22:25] AriaSalvatrice commented on #21
To consistently reproduce, overflow the pattern by sending a trigger to ^ or v on the last step, and once one the first step, send the opposite trigger.

[2020-01-29 23:14] #20 closed, assigned to AriaSalvatrice

[2020-01-29 23:14] #21 closed, assigned to AriaSalvatrice

[2020-02-01 22:43] AriaSalvatrice opened #22 "Arcane: "DOWNLOADING" on LCD can be misleading"
If the first instance added to the rack fails the download, other instances are stuck on the "DOWNLOADING" message, despite those other instances not attempting a download themselves.

What's a better message? It should fit in 11 characters spaces included.

"LOADING"
"WAITING"
"WAIT ON DL"

better ideas?

[2020-02-10 13:35] AriaSalvatrice opened #24 "The Fool (0) crashes Arcane"
Off by one error somewhere.

I pushed an emergency fix to the server - corrected today's fortune, and made it so the Fool can't be drawn. I will revert the latter change a week after a fix for Arcane is in the library.

[2020-02-11 10:56] #24 closed, assigned to AriaSalvatrice

[2020-02-11 11:29] AriaSalvatrice commented on #22
Went with "WAIT ON D/L"

[2020-02-11 11:29] #22 closed, assigned to AriaSalvatrice

[2020-02-11 11:48] AriaSalvatrice opened #25 "UnDuLaR: After locking the rack, zooming in or out breaks"
It sounds like a pain to fix, so I won't do it unless someone shows me their setup where it's a pain point.

[2020-02-16 11:41] AriaSalvatrice opened #26 "Add"
Received a suggestion via private conversation to add the proposed [portable sequence format](https://github.com/squinkylabs/SquinkyVCV/blob/master/docs/clipboard-format.md) to Darius. For now I haven't decided.

See also: https://github.com/VCVRack/Rack/issues/1708

Copying my reaction here:

----

I considered it, but the main problem is that it has a different amount of nodes per step. This is

[2020-02-16 11:42] AriaSalvatrice opened #27 "Darius: add portable sequence format copy-paste support"
Received a suggestion via private conversation to add the proposed [portable sequence format](https://github.com/squinkylabs/SquinkyVCV/blob/master/docs/clipboard-format.md) to Darius. For now I haven't decided.

See also: https://github.com/VCVRack/Rack/issues/1708

Copying my reaction here:

----

I considered it, but the main problem is that it has a different amount of nodes per step. This is

[2020-02-17 04:29] DeesseFortuna opened #28 "Arcane: 13th Arcana (Death) name not displaying"
Hey, love your modules!

Just noticed that today's (2020-02-16) Arcana (13) resulted in the card name not being displayed. Wondering if that's intentional or not, or if it's just... unlucky. [Here's the relevant json file.](https://github.com/AriaSalvatrice/Arcane/blob/master/v1/2020-02-16.json)

Not a big deal, initially thought it was part of the slimmed Atout, but it affects Arcane too. At leas

[2020-02-18 14:21] AriaSalvatrice commented on #28
In Tarot of Marseilles tradition, Death is known as "The arcana without a name". The lack of a label is intentional.

https://github.com/AriaSalvatrice/AriaVCVModules/blob/master/src/Arcane.cpp#L454

[2020-02-18 14:21] #28 closed, assigned to nobody

[2020-02-23 08:13] DeesseFortuna commented on #28
Seems obvious now. Thanks

[2020-02-25 14:31] Chaircrusher opened #29 "Crash on VCVRack Exit."
I ran into this yesterday on Linux.  I think it's a relatively easy fix because it's simply freeing the same memory twice. I'll build a version with debugging turned on and maybe I can suggest a patch.

*** Error in `./Rack': double free or corruption (out): 0x0000000002b7e880 ***
======= Backtrace: =========
/lib64/libc.so.6(+0x81679)[0x7fb79f461679]
./Rack(rack::engine::Module::~Module()+0x56)[0

[2020-03-19 16:01] david-c14 commented on #14
https://github.com/david-c14/SubmarineFree/blob/1f8d55eccb8997ef42551afc9519e7cabb4cbcae/src/LT1.cpp#L427

Adding an Action to the APP-history.   However, this example uses anonymous functions, because I prefer them. The EventWidgetAction is defined [here](https://github.com/david-c14/SubmarineFree/blob/1f8d55eccb8997ef42551afc9519e7cabb4cbcae/src/shared/components.hpp#L411) and [here](https://git

[2020-04-08 15:00] AriaSalvatrice opened #30 "UnDuLaR should re-apply offsets when it's locked"
In my fixed rack where I lock X, upon reloading VCV Rack, it is offset a little and I have to unlock and manually nudge. This is probably not the behavior anyone wants.

[2020-04-08 15:03] AriaSalvatrice opened #31 "UnDuLaR jump navigation does not add a sufficient buffer anymore"
To reproduce, build a big rack, send Up/Down pulses, and notice the first/last row can be cut off sometimes, normally it should never happen no matter the settings.

Not sure what's going on, I think it broke with an update.

[2020-04-20 08:00] matthleg opened #32 "Darius an other knob for step but cutting steps from the left"
Hello,
I really like darius module and this morning I was thinking it would be nice to have the possibility to begin the sequence not in the first row but in the second or third or fourth... and like this to have already probability at the beginning of the sequence. So maybe a new knob to cut steps from the beginning of the sequence?
Have a nice day and thanks a lot for your great work.
Matthieu

[2020-05-03 14:22] AriaSalvatrice commented on #32
A problem with adding a knob to do that - besides my wish to keep this module simple - is that it no longer unambiguously defines where the pattern starts. Using the probability from the previous, disabled step would make sense, but difficult to visually convey.

[2020-06-08 16:21] AriaSalvatrice commented on #19
There's been very little interest in Arcane so I'll close this for now.

[2020-06-08 16:21] #19 closed, assigned to nobody

[2020-06-08 19:28] AriaSalvatrice commented on #6
The split and merge collection is known to work and existing modules won't be edited further, so it's not worth the effort to clean up.

[2020-06-08 19:28] #6 closed, assigned to nobody

[2020-06-08 19:29] AriaSalvatrice commented on #25
Nobody requested a fix, so I will keep it as-is.

[2020-06-08 19:29] #25 closed, assigned to nobody

[2020-06-08 22:56] AriaSalvatrice commented on #14
Undo support was added to the development branch.
Thank you for the example implementation @david-c14 !

[2020-06-08 22:56] #14 closed, assigned to AriaSalvatrice

[2020-06-08 23:06] AriaSalvatrice commented on #29
Can't manage to reproduce this on Ubuntu Studio in a VM.

[2020-06-08 23:10] AriaSalvatrice commented on #27
Considering implementing as follows:

- Export = Exports one random possible sequence
- Import = Imports 8 notes, same note for each step

[2020-06-09 01:43] AriaSalvatrice commented on #32
Implemented in the development branch.

![image](https://user-images.githubusercontent.com/25130242/84096892-5d96a900-aa03-11ea-8aa7-4273d2c6d246.png)

[2020-06-09 01:43] #32 closed, assigned to nobody

[2020-06-09 06:15] matthleg commented on #32
Thank a lot
. Very nice.

Le mar. 9 juin 2020 3:43 AM, Aria Salvatrice <notifications@github.com> a
écrit :

[2020-06-09 13:35] Chaircrusher commented on #29
@AriaSalvatrice maybe you fixed it without noticing!

PS It never hurts run Rack under valgrind on Linux - it's slow as frozen snot, but it's usable if you turn the sound down, and it can alert you to all sorts of memory problems.

[2020-06-12 22:10] AriaSalvatrice opened #33 "UnDuLaR: alternative to the Engine > Sample Rate > Pause safety"
Forgot where it was posted, but I think pausing the engine is slated for removal in rack v2.

Having a way to stop a misconfigured UnDuLaR instance is crucial, as it could otherwise destroy a patch.

Providing instructions how to edit the JSON yourself in a text editor would be good enough, but I could create a little all-in-one javascript page that automates it, and provide it as part of the plug

[2020-06-16 04:23] AriaSalvatrice commented on #29
The code changed a ton since the report and the crash hasn't been reproduced, so I'll tentatively close this.

[2020-06-16 04:23] #29 closed, assigned to nobody

[2020-06-16 06:56] AriaSalvatrice commented on #27
Discussion:
https://community.vcvrack.com/t/arias-thread-of-barely-working-betas-and-bug-squashing-darius-update-ready-to-test/8208/20?u=aria_salvatrice

Will be done after 1.4.1 release

[2020-06-16 07:18] AriaSalvatrice commented on #30
Running into issues saving offsets. I don't think anyone cares so I'm releasing locks on restart instead.

[2020-06-16 07:18] #30 closed, assigned to AriaSalvatrice

[2020-06-16 07:28] AriaSalvatrice commented on #31
Increasing the buffer solved it for any reasonable value. Not a clean solution, bump the issue if you care for a clean fix.

[2020-06-16 07:28] #31 closed, assigned to AriaSalvatrice

[2020-06-18 04:56] AriaSalvatrice opened #35 "Darius: initialize cuts off the init message"
Regression

[2020-06-18 17:19] AriaSalvatrice opened #36 "Darius: should ignore clock on reset"
https://vcvrack.com/manual/VoltageStandards#timing
https://github.com/MarcBoule/ImpromptuModular/#on-resets-clocks-and-run-states-

[2020-06-19 09:11] #35 closed, assigned to AriaSalvatrice

[2020-06-19 13:53] AriaSalvatrice commented on #27
Implemented as of 1.4.2, but behavior remains experimental

[2020-06-19 13:53] #27 closed, assigned to AriaSalvatrice

[2020-06-19 16:43] AriaSalvatrice opened #38 "portablesequence.hpp: calculate length inaccurate if previous note longer than last starting"
Gonna complicate the code, but worth fixing if I want the library to eventually be reusable by others.

[2020-06-19 22:56] xaviershay commented on #29
For future travelers, I was dealing with a similar issue in a different module and documented my trials here: https://github.com/xaviershay/vitamin-vcv-modules/issues/1#issuecomment-646888507 (tl;dr assertions on array indices are good)

[2020-06-20 14:33] AriaSalvatrice opened #39 "Darius: With multiple inputs, individual gates do not reset correctly"
To reproduce, patch two different clocks in Back and Forward and observe individual gate outs.

[2020-06-20 15:49] AriaSalvatrice commented on #39
Might be necessary to send them very fast for the problem to manifest

[2020-06-26 14:47] AriaSalvatrice commented on #33
A different way to go about it would be to simply ignore CV input for the first 10 seconds after being added.

[2020-06-29 12:47] AriaSalvatrice opened #40 "Relicense to GPL-3.0-only"
The simplicity (and formal beauty) of the WTFPL served me well while the collection was a bunch of small hacks, but it's now polished software, I want to avoid having it used commercially without giving back to the community.

Given that RMS is no longer in charge of the FSF, I have insufficient long-term trust that the values of the FSF will remain what they have been in the past.
I do not want t

[2020-07-01 22:02] AriaSalvatrice commented on #39
Behaves as expected on non-audio rate. That's a niche use that's not worth trying to reproduce/fix.

[2020-07-01 22:02] #39 closed, assigned to AriaSalvatrice

[2020-07-01 22:05] AriaSalvatrice opened #41 "Splits and merges should do nothing when unpatched"
They're already fast but they could be even faster

[2020-07-02 18:10] #38 closed, assigned to AriaSalvatrice

[2020-07-02 18:10] #33 closed, assigned to AriaSalvatrice

[2020-07-02 18:10] #40 closed, assigned to AriaSalvatrice

[2020-07-02 20:38] AriaSalvatrice commented on #5
Screenshots for literally every single module will have to be re-done for the occasion, all of them (except the blank plate lol) changed visually a bit in some way.

[2020-07-03 04:22] AriaSalvatrice opened #44 "Darius expecting 10V rather than >0V for scale input"
Inconsistent with documentation & how I want it to work.

[2020-07-03 04:28] AriaSalvatrice opened #45 "QQQQ: Lead sheet import crashes on long input"
Maximum seems around 130 characters.

[2020-07-03 17:23] cschol opened #46 "Build failure on multiple platforms"
Build fails on multiple platforms when compiling `QuickJS` using an environment like the official build system.

Unfortunately, I don't have time today to troubleshoot this further.

I am attaching the build log: [aria.log](https://github.com/AriaSalvatrice/AriaVCVModules/files/4870816/aria.log)

[2020-07-03 18:07] AriaSalvatrice commented on #46
Thank you.

I am using (as far as I can tell) almost the exact same method VCV-Prototype does, and I'm also using the same fork. Does Prototype use the same build system as the rest of the library?

Is the library build environment described somewhere to reproduce locally?

[2020-07-03 18:46] JerrySievert commented on #46
@cschol what version of macOS is the build system running, or is it using a cross-compiler?

I'm able to build on macOS 10.14, targeting 10.7, but the errors and warnings I'm seeing your log look like gcc messages.

[2020-07-03 18:53] JerrySievert commented on #46
also compiled on the vm that all SV Modular modules are built on (ubuntu 16.04) and getting a clean build except for these warnings:

[code]

which can safely be ignored since the `qjs` binary is not being used in this case

[2020-07-03 18:54] AriaSalvatrice commented on #46
FWIW I'm getting it to build successfully from scratch on Windows Msys2, Ubuntu Studio 19.10, and via Azure continuous integration (macos-10.14, vs2017-win2016, ubuntu-16.04). I don't think the problem is on my end and am not experienced enough with build issues to have a clue what's breaking.

[2020-07-03 20:16] cschol commented on #46
@JerrySievert I am cross-compiling with `osxcross` just like the build system does.

I think the problem is that the `QuickJS` build is not integrated into the build system correctly. It is invoked as a `Makefile` target and build with gcc always instead of using the `osxcross` cross-compiler for the Mac platform. We are cross-compiling for Mac and Windows platforms. Only Linux builds are native.

[2020-07-03 20:31] JerrySievert commented on #46
@cschol hm.  I'm wondering what vcv-prototype uses for a build then.

[2020-07-04 11:46] AriaSalvatrice opened #47 "The system needs a chords > scale device"
Simple example use case:
![image](https://user-images.githubusercontent.com/25130242/86511787-96f0e780-bdfc-11ea-9c5a-692276de8365.png)

No elegant way to send that chord to QQQQ

[2020-07-10 04:32] cschol commented on #46
@AriaSalvatrice @JerrySievert Andrew says he is building VCV Prototype on 3 different native systems (no cross-compile). I think we need to figure out how to properly cross-compile this dependency. I am happy to help, but it will be next week before I can get to it.

[2020-07-10 05:23] AriaSalvatrice commented on #46
Thanks! Seeing that it'd be a big 25GB Xcode install (that I'm not sure I can obtain legally without a mac capable of running the current version) to do inside a VM makes it really difficult to fix on my end (especially since even if I got the environment going, I have little clue where to start diagnosing why it goes wrong).

In the meantime, my automatic system is building binaries successfully,

[2020-07-10 15:29] AriaSalvatrice commented on #44
Seems I fixed it and forgot to tag in the commit.

[2020-07-10 15:29] #44 closed, assigned to AriaSalvatrice

[2020-07-10 16:14] JerrySievert commented on #46
thinking further about it, you might be able to change https://github.com/AriaSalvatrice/AriaVCVModules/blob/master/Makefile#L31

and add `CC=$(CC)` for it to pass the cross-compiler in.  just a thought.

[2020-07-10 17:10] #47 closed, assigned to AriaSalvatrice

[2020-07-10 21:33] cschol commented on #46
The Rack SDK already defines that. I can't quite figure out yet why it uses gcc instead of the cross-compiler.

[2020-07-13 13:39] blackearth2014 opened #49 "Updated Mac Versions"
Aria,

Where can I get the updated Mac version with the Quantizers?

[2020-07-13 17:46] AriaSalvatrice commented on #49
Until we can solve the build issues preventing the plugin from being in the official library, interim stable releases are done on the official VCV forums:

https://community.vcvrack.com/t/arias-modules-quatherina-the-quantum-duck-presents-quatherinas-quality-quad-quantizer/10491/4

This version above contains the QQQQ series and Quale, but doesn't contain unstable test modules.

[2020-07-13 17:46] #49 closed, assigned to nobody

[2020-07-13 17:47] AriaSalvatrice commented on #5
Actively worked on, should be done for next release.

[2020-07-13 18:51] blackearth2014 commented on #49
Thanks and cool breeze

On Mon, Jul 13, 2020, 1:46 PM Aria Salvatrice <notifications@github.com>
wrote:

[2020-07-15 21:27] AriaSalvatrice opened #50 "Darius should have defaults adapted for V/Oct output"
The revised docs assume it does.

[2020-07-15 23:07] AriaSalvatrice commented on #5
https://github.com/AriaSalvatrice/AriaModulesDocs

[2020-07-17 01:19] AriaSalvatrice commented on #36
Docs assume it fixed

[2020-07-18 10:51] AriaSalvatrice opened #51 "QQQQ Quantizes 10V to C no matter the scale"

[2020-07-19 21:51] AriaSalvatrice commented on #45
The problem isn't that the input is too long, but that the output is too long. Error around `Javascript::Runtime.readVariableAsChar()`

[2020-07-21 15:13] AriaSalvatrice commented on #41
Will be done once I get around to making Srot

[2020-07-21 17:57] #36 closed, assigned to AriaSalvatrice

[2020-07-21 17:57] #50 closed, assigned to AriaSalvatrice

[2020-07-21 17:57] #45 closed, assigned to AriaSalvatrice

[2020-07-21 18:06] #51 closed, assigned to AriaSalvatrice

[2020-07-23 11:23] Petervos2018 opened #53 "Qqqq recall bug"
Woof Aria,

This is a bit hard to explain but here I go:
When you load the project I attached, it will play a chord sequence, this should be Cm7 Dm7 E#M7 A#(add9), and it is !
When you stop the clock close rack and start rack again, all is still fine.
But...
...when you close rack while playing (the clock is still running), the first chord in Qqqq will change to the chord that was playing when you

[2020-07-23 17:51] AriaSalvatrice commented on #53
The problem here seems to be with the Bogaudio Addr-Seq. It doesn't save its position - when restarting it's always on the first node.

Altering the project to use Seq-3, things work as expected.

![image](https://user-images.githubusercontent.com/25130242/88320386-cfaa1f80-cd1d-11ea-9a24-4d43b3929bc2.png)

[2020-07-23 17:56] AriaSalvatrice commented on #53
(Misunderstood the problem, re-opening until I get the time to investigate in detail)

[2020-07-24 18:04] AriaSalvatrice commented on #53
Got a simpler reproduction working, problem confirmed

[2020-07-24 22:00] AriaSalvatrice commented on #53
Fixed on the dev branch. Feel free to grab a dev build if you want it fixed ASAP: https://github.com/AriaSalvatrice/AriaVCVModules/releases/tag/AzureCI

[2020-07-24 22:20] Petervos2018 commented on #53
Yep that works 👍

Thanks.

[2020-07-25 18:12] AriaSalvatrice opened #54 "Solomon: Slide stops working at large values"
Code is literally copy-pasted from Darius so there's gotta be something weird going on.

[2020-07-25 19:56] AriaSalvatrice commented on #46
Solved by https://github.com/AriaSalvatrice/AriaVCVModules/commit/02741337c9d41ea36a1fded23fc7783918fec7df

[2020-07-25 19:56] #46 closed, assigned to nobody

[2020-07-25 20:01] AriaSalvatrice commented on #5
The site is now live and mostly complete.

[2020-07-25 20:01] #5 closed, assigned to AriaSalvatrice

[2020-08-02 10:53] AriaSalvatrice commented on #54
It _does_ work when tested in isolation. In practice the implementation feels janky. Not a bug. I dunno what to do about it, so for now I'll do nothing. It works well in practice for normal use cases anyway.

[2020-08-02 10:53] #54 closed, assigned to AriaSalvatrice

[2020-08-07 15:07] AriaSalvatrice opened #59 "Varying the PW can get Darius in impossible, desynchronized states"
Not sure what's going on here. Repro:

![image](https://user-images.githubusercontent.com/25130242/89659626-6820d200-d8d0-11ea-8010-5b0748fb419c.png)

[2020-08-07 15:10] AriaSalvatrice commented on #59
Seems to be a case of receiving gates extremely fast

[2020-08-11 03:08] AriaSalvatrice opened #60 "Modulus Salomonis Regis: significant UI CPU cost"
I need to be able to measure the problem more precisely. There has to be an easy gain somewhere obvious.

[2020-08-15 23:30] hexdump0815 opened #61 "native linux compile patch"
hello,

to get your plugin (current vcvrack library submitted git commit hash) compiled natively on linux (aarch64 in my case but it should apply to intel linux as well i guess) i needed the following patch to get it compile: https://github.com/hexdump0815/vcvrack-dockerbuild-v1/blob/master/AriaSalvatrice.aarch64.patch ... maybe i'm doing something wrong or maybe it is really required ...

best wi

[2020-08-16 01:41] AriaSalvatrice commented on #61
Thank you, I'll look into integrating the changes. The Makefile has a bunch of edits I don't fully understand to to support VCV's cross-compilation system so I'll have to look into things in detail before I can integrate the patch.

BTW, does the QQQQ module work properly on the Sonaremin after applying this patch? It's the first time my module is built on ARM and QuickJS gave us a lot of trouble

[2020-08-16 03:51] AriaSalvatrice commented on #61
Applying the patch appears to work - it builds on my machine and on Azure CI. But it might break the VCV library build system. If it does, I'll have to revert those changes or we will have to figure out another solution. I'll let you know whether your patch could be applied or not next time I submit to the library.

[2020-08-16 09:07] hexdump0815 commented on #61
thanks a lot for the update - lets see if it works, but in theory it should i guess ...

[2020-08-18 02:51] AriaSalvatrice commented on #61
It looks like the changes were accepted by the library since it passed review, so I guess you will no longer need this patch for version 1.7.0+ (I'll re-open this issue and notify you otherwise)

BTW I notice you maintain a second `armv7l.patch` patch for my plugin, but I assume it's a Sonaremin-specific patch that doesn't need to be merged upstream right?

Anyway, if QQQQ JS evaluation breaks on

[2020-08-18 02:51] #61 closed, assigned to AriaSalvatrice

[2020-08-18 03:08] AriaSalvatrice opened #63 "Grabby handle incorrectly labeled rotato"
Will be fixed next version

[2020-08-18 19:07] hexdump0815 commented on #61
thanks for the testing hint - will do that some time soon

[2020-08-18 21:07] hexdump0815 commented on #61
test passed on both 32bit armv7l and 64bit aarch64 :)

[2020-08-22 18:25] AriaSalvatrice opened #64 "QQQQ Poly External Scale should forward the tonic"
When the scale is set from an external source in such a way the tonic is known, QQQQ should forward it instead of using its key knob.

There exists no use case for this yet, but it should be fixed to make those use cases possible in the future.

[2020-09-02 15:54] AriaSalvatrice opened #65 "Quale needs a right-click option to use channel 1 as the tonic"
Should also probably be the default.

[2020-09-03 17:51] AriaSalvatrice commented on #53
There seems to be a regression when using triggers to navigate scenes.

[2020-09-03 17:59] AriaSalvatrice opened #66 "Handle the root note better in QQQQ"
It should probably be an additional button on the piano display.

- Only an active note can be the root
- Only a single note can be the root
- It should be lit automatically when the info provided by the source (expander, poly external scale, scene), or when the knobs are used to pick a scale.

[2020-09-03 18:12] Petervos2018 commented on #53
Did some testing, either I don't know what you mean or I'm doing something wrong...
but I think all is working as it should.
But maybe this is just a placeholder for something you're working on ?
OK Ill butt out now ;)

[2020-09-04 16:25] AriaSalvatrice commented on #53
Just re-opening this one for my own convenience since I'm pretty sure it's the same bug, don't worry about reproducing it!

(I think you can unsubscribe if you don't want the issue to ping you anymore)

[2020-09-04 16:27] Petervos2018 commented on #53
Nah I love staying in the loop ;)

[2020-09-27 21:59] AriaSalvatrice commented on #41
Only seems to make a positive difference on merges, not on splits.

[2020-10-09 05:25] AriaSalvatrice commented on #66
Doing it on QQQQ itself would makee things too complex. Best left to a dedicated module.

[2020-10-10 09:52] AriaSalvatrice commented on #66
Deciding against. From the user's perspective, the QQQQ series has no awarenesss of root notes. Will be left to other modules.

[2020-10-10 09:52] #66 closed, assigned to AriaSalvatrice

[2020-10-10 13:41] AriaSalvatrice commented on #64
Deciding against. The more I try to make this work elegantly, the more obvious it becomes the QQQQ series should ignore tonics, and a separate series should be concerned with chords, with Quale as a possible intermediary. Otherwise it will be too confusing for users.

[2020-10-10 13:41] #64 closed, assigned to AriaSalvatrice

[2020-10-10 16:38] AriaSalvatrice commented on #65
Implemented

[2020-10-10 16:38] #65 closed, assigned to AriaSalvatrice

[2020-10-10 16:39] #41 closed, assigned to AriaSalvatrice

[2020-10-10 16:39] #63 closed, assigned to AriaSalvatrice

[2020-10-10 16:44] AriaSalvatrice commented on #59
This only happens at audio rates.

[2020-10-10 17:11] AriaSalvatrice commented on #59
Audio rate had no purpose in Darius. Using it as a waveshaper of sorts is a neat curiosity, but I never once got a half-decent sound out of it.

In the next version, by default, Darius will no longer operate at audio rates, which is a significant performance boost (3x faster). It also solves hard to debug issues that only happen at audio rates - I really don’t care to debug them as this was one of

[2020-10-10 17:11] #59 closed, assigned to AriaSalvatrice

[2020-10-10 17:29] AriaSalvatrice commented on #60
Doesn't seem that worse than many third-party modules and I can't identify an easy gain

[2020-10-10 17:29] #60 closed, assigned to AriaSalvatrice

[2020-10-10 22:31] #53 closed, assigned to nobody

[2020-10-15 11:18] AriaSalvatrice opened #69 "QQQQ is likely to have a mysterious crash"
Received private reports. Will update when I collate & figure out repro conditions.

[2020-10-16 10:08] AriaSalvatrice commented on #69
---

[..]

[..]

[..]

[2020-10-16 10:11] AriaSalvatrice commented on #69
Unclear if both problems are related or still present. No repro on my end yet. IOU work just fine for me as an input and QQQQ is built to accept audio rate input (it subsamples it).

[2020-10-16 10:42] AriaSalvatrice opened #70 "The LCD font lacks scanlines on some HDPI displays"
The effect was probably an artifact of nanovg subpixel hinting in the first place. I can probably alter the files automatically to increase the gap.

I do not want to use a font unless the rendering is perfect everywhere: pixel-perfect at every zoom level on every OS, no antialiasing or weird subpixel hinting behavior, visible scanlines or pixel grid but still readable at 100% standard DPI.

[2020-10-16 14:20] AriaSalvatrice commented on #70
Seems it can be achieved by adding a stroke-width to the LCD elements.

[code]

A width of 1 seems to be assumed

[2020-10-19 04:35] AriaSalvatrice opened #72 "Pokies global trig bug"
Basically,
![image](https://user-images.githubusercontent.com/25130242/96402036-3a5fdf80-11d5-11eb-8290-8cb2a6070596.png)

Weird, was pretty sure it worked

[2020-10-21 07:03] AriaSalvatrice opened #74 "Psychopump: Buttons 1 and 2 not showing up in Linux"
Likely a filename case sensitivity issue.

 https://community.vcvrack.com/t/arias-thread-of-barely-working-betas-and-bug-squashing-psychopump-in-library-soon/8208/188?u=aria_salvatrice

[2020-10-21 07:07] AriaSalvatrice commented on #70
Will reopen if I get reports of ugliness.

[2020-10-21 07:07] #70 closed, assigned to nobody

[2020-10-21 07:09] AriaSalvatrice commented on #74
Confirmed fixed by changing case.

The four files at res/components/psychopump-out1-off.svg should have the word out in uppercase, such as res/components/psychopump-OUT1-off.svg.

[2020-10-21 07:26] AriaSalvatrice commented on #72
Seems to be a display bug - can't reproduce. Will investigate further before I close.

[2020-10-21 07:28] #74 closed, assigned to AriaSalvatrice

[2020-10-22 13:13] #72 closed, assigned to AriaSalvatrice

[2020-10-22 13:13] #69 closed, assigned to AriaSalvatrice

[2021-12-02 14:48] AriaSalvatrice opened #77 "Add support for the new API"
VCV 2 will not be supported. See <https://aria.dog/barks/why-i-will-never-create-modules-for-vcv-rack-anymore/> for details.

However, forks build upon the 2.0 API, and forks will be supported. So it would be good for the collection, especially the UI code, to be updated to make it easier to integrate in forks.

[2021-12-02 16:43] AriaSalvatrice opened #78 "Reports must be reproducible in a compatible host: VCV unsupported"
I do not support VCV rack. See <https://aria.dog/barks/why-i-will-never-create-modules-for-vcv-rack-anymore/> for details.
As of now, these modules do not officially work anywhere currently supported, but they will soon work in Cardinal, which will be supported. Other forks that respect third-party contributors will likely be supported too.

When posting an issue, you must be able to reproduce the

[2021-12-03 14:11] AriaSalvatrice commented on #77
Lights out mode (implemented the old way) is confirmed to currently break widgets in Cardinal

[2021-12-03 17:35] AriaSalvatrice opened #79 "Current issues in Cardinal"
The plugin was included today in [Cardinal](https://github.com/DISTRHO/Cardinal) by @falkTX, with just the necessary compatibility patches to get it to work at all. Obviously there's a lot of issues and isn't ready for end users. I have not tested them in depth yet.
Here's the issues I noticed:

- [ ] **Widgets are broken**. This is almost certainly due to the way I implemented lights out mode. I

[2021-12-03 17:41] falkTX commented on #79
No idea about the first 2, and do not have much experience yet with the Rack lights API to help at the moment.
Can comment on the other ones...

does this involve osdialog stuff?
or otherwise how would you get such keyboard input?

I was not sure which modules needed to be removed, thanks for specifying.
Actually I expected the build to fail, not sure how that even builds in the first place :confu

[2021-12-03 17:52] AriaSalvatrice commented on #79
Same text field code as direct numeric input present by default on right-clicking a knob. It sort of works in Windows Reason (only uppercase without spaces) and seems to behave as if the Shift key were stuck pressed. Doesn't work in Renoise. In VSTHost, keys are received twice (on key up and on key down). Same behavior for all text fields, seems to be related to Cardinal, just listing here for com

[2021-12-03 17:54] falkTX commented on #79
ah ok, then a cardinal-side issue yes.
dealing with keyboard input in plugins is tricky sometimes, not all hosts give it willingly.

I supposed this is under Windows, correct?

[2021-12-03 17:56] AriaSalvatrice commented on #79
Yup, Win 10, grabbed a build off the CI system, used in VST2 mode (I think VST3 doesn't work yet).

[2021-12-03 17:59] falkTX commented on #79
VST3 is still unfinished yes. Might work, might not, cant make any guarantees on that.
The VST2 is known to work well on Linux and macOS though, I rarely run Windows (only in a VM) so that side got less attention and thus more bugs.

PS: Arcane and related modules now removed from the build https://github.com/DISTRHO/Cardinal/commit/5bd054399d033b1ae1325f1ecc18523184f3b032

[2021-12-03 19:55] falkTX commented on #79
Copying here for those reading, the widget lights have been fixed.

![image](https://user-images.githubusercontent.com/1334853/144664805-9c748177-794f-4f45-b3a0-99fac9d48fd5.png)

Undular zoom works now too, though it is very finicky so probably will be best to remove this part,
Changing the zoom also changes the view offset, so when both are automated they keep fighting each other.

[2021-12-03 20:52] AriaSalvatrice commented on #79
UnDuLaR zooming was always broken in the first place, in VCV 1.x zooming in a busy rack had a way to totally break the graphics of everything. the slow speed of rendering on my rather beefy system in 2.0 makes me thing it still is a problem.

The docs of UnDuLaR make it very clear it's for people who know what's up and have good reasons to use this <https://aria.dog/modules/undular/>

Lemme know h

[2021-12-03 21:00] falkTX commented on #79
Alright, good to know, we can keep it as-is then.

I have not really used Rack at all because of the lack of a plugin version, so I am not aware of how things used to be.
Only with Cardinal I finally started to run it, and only Cardinal; I never actually ran v2 official binaries.

[2021-12-04 05:11] AriaSalvatrice opened #80 "Avoid mentioning unsupported hosts"
Mentions of the VCV project should be removed wherever possible, not just from the project but also from the docs and metadata, as it is no longer supported.

Need to review:
- [x] Code
- [x] Readme
- [ ] Docs
- [x] Github metadata

[2021-12-04 08:38] AriaSalvatrice commented on #79
The following widgets are still a bit broken:

- [ ] Backlit Darius & Psychopump CV knob. Right-clicking them also crashes the vst. They should share code, but might be copy-pasted to accommodate behavior variations - forgot how i went about it
- [ ] Darius routes knob (with a little triangle arrow). You can't rotate them, right-clicking them crashes thing, and additionally, their default orientat

[2021-12-04 11:22] AriaSalvatrice opened #81 "CI is broken"
Probably a good idea to eventually remake it such that it can build against Cardinal.

[2021-12-04 11:27] AriaSalvatrice commented on #80
Renamed <https://github.com/AriaSalvatrice/js-snippets-for-vcv> to <https://github.com/AriaSalvatrice/js-snippets-for-modules>

The goal isn't to delete every mention but to make the project fork-agnostic.

[2021-12-04 19:18] falkTX commented on #79
I am getting stuck on the broken widget stuff, tried a couple of things but issue seems to go deep...
My tests indicate the crash happens because some knob/parameter labels are not set, but couldn't quickly find which ones.

[2021-12-12 12:37] AriaSalvatrice commented on #80
The UnDuLaR preview screencap must be remade.

[2022-02-02 23:35] dromer commented on #79
I also figured it had something to do with knob/parameter labels, and couldn't find the root cause either.

Another issue, that I reported in Cardinal, but is better suited in this thread (that I just found) is that the LCD screens render on the top layer, right through the library background: https://github.com/DISTRHO/Cardinal/issues/123

[2022-02-02 23:36] falkTX commented on #79
that one is simple, seems like a Rack/nanovg bug.
if drawing a line > 0 < 1, it renders through the overlay

[2022-02-09 01:24] falkTX commented on #79
Everything should be set with #82

I had to disable the layer-1 drawing for the LCD display, as it was drawing things on top of menus and other overlays. Not sure if Rack bug, or something in nanovg or what is going on. But not critical in any way, we just dont get fancy lights-out for the LCD, oh well

[2022-02-09 06:57] dromer commented on #79
Can confirm no more segfaults and no more drawing issues :)